body{
	margin-top: 20px;
	font-size: 14px;
	font-family: Aerial;


}
.form-label{
	display: block;
	
}
.form-input{
	display: block;
	border: 1px solid #212121; 
	margin-bottom: 4px;
}
ul{
	list-style-type: none;

}
#main{
    border: 1px solid #D3d3d3;
    border-radius: 4px;
    max-width:80%;
	padding: 15px 0 15px 4px;
	margin: 8px;
	height: 100px;
}
#mob-img{
	height: 100px;
	width: 100px;
	position: absolute;
	left: 65px;

}
#name{
	color: #KK8978;
	text-align: left;
	position: relative;
	top: -10px;
	left: 110px;
	
}
#mob-desc{
	text-align: left;
	position: relative;
	top: -10px;
	left: 110px;
	max-width: 80%
}

